.cart-container {
  max-width: 1000px;
  margin: 30px auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.cart-header h1 {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 22px;
}

.clear-btn {
  background: #f8f8f8;
  border: 1px solid #ccc;
  padding: 8px 14px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  color: #777;
}

.clear-btn:hover {
  background: #eee;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cart-item {
  display: flex;
  align-items: flex-start;
  gap: 23px;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  background: #fff;
}

.cart-item-img {
  width: 120px;
  border-radius: 6px;
}

.cart-info {
  flex: 2;
}

.cart-info h3 {
  margin-bottom: 10px;
}

.price {
  color: #f56600;
  font-weight: bold;
}

.seller span,
.delivery span {
  color: #f56600;
}

.cart-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 5px 10px;
}

.quantity-control button {
  background: #f56600;
  color: #fff;
  border: none;
  padding: 6px 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
}

.quantity-control button:hover {
  background: #d95500;
}

.quantity-control span {
  min-width: 30px;
  text-align: center;
  font-weight: bold;
}

.cart-summary {
  flex: 1;
  border: 1px solid #ddd;
  border-radius: 12px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0,0,0,0.05);
  gap: 15px;
  
}

.cart-summary h2 {
  margin-bottom: 15px;
  color: #333;
}

.continue-btn,
.back-btn {
  display: block;
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 2px solid #f56600;
  font-weight: bold;
  cursor: pointer;
}

.continue-btn {
  background: #f56600;
  color: white;
}

.continue-btn:hover {
  background: #d95500;
}

.back-btn {
  background: white;
  color: #f56600;
}

.back-btn:hover {
  background: #f9f9f9;
}
