.header {
    width: 100%;
    background-color: #f60;
    color: white;
    font-family: Arial, sans-serif;
}

.top-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f60;
    border-bottom: 1px solid ;
    
}

.logo {
    font-weight: bold;
    font-size: 22px;
    display: flex;
    align-items: center;
}

.logo-text {
    color: white;
}

.logo-sub {
    color: #ffcc99;
    margin-left: 4px;
}

.search-box{
    flex: 1;
    margin: 0 20px;
    display: flex;
    align-items: center;
    max-width: 500px;
    background: #fff;
    border-radius: 6px;
    overflow: hidden;
   
}

.search-box input {
    flex: 1;
    padding: 10px 20px;
    border: none;
    outline: none;
    font-size: 14px;
    background-color: #fff;
    color: #000;
    
}
.input-busca::placeholder{
    color: #e65500;
}

.search-btn{
    background: #ff6600;
    border: none;
    padding: 10px 10px;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    border-radius: 50%;
    
}
.search-btn:hover{
    background: #e65c00;

    
}
.top-icons{
    display: flex;
    align-items: center;
    gap: 15px;
}

.icon-btn{
    background-color: none;
    border: none;
    cursor: pointer;
    font-size: 1.2rem;
}

.login-btn{
    display: flex;
    align-items: center;
    gap: 6px;
    background: white;
    color: #ff6600;
    border: none;
    padding: 8px 14px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.login-btn:hover{
    background: #ffe6cc ;

}

.bottom-bar {
    display: flex;
    justify-content: center;
    padding: 8px 0px;
    gap: 8rem;
    background: #e65500;

}

.nav-btn {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    gap: 20px;
}

.nav-btn:hover {
    color: #ffd699;

}

.nav-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    color: #000;
    min-width: 300px;
    max-width: 300px;
    box-shadow: 1px 4px 8px rgb(0,0,0, 0.15);
    border-radius: 6px;
    z-index: 200;
    padding: 0;
    margin: 8px 0 0 0;
    list-style: none;

}

.dropdown-menu li {
    padding: 10px 15 px;
    cursor: pointer;
}

.dropdown-menu li:hover {
    background: #c25105;
}

.dropdown-menu a {
    text-decoration: none ;
    color: block;
    display: block;
}

/*responsivo*/

@media (max-width: 768px) {
    .nav-dropdown{
        width: 100%;
    }

    .dropdown-menu {
        position: static;
        box-shadow: none;
        border-radius: 0;
        max-width: 100%;
        margin: 0;
        background: #f9f9f9;

    }

    .dropdown-menu li {
        padding: 12px;
        border-bottom: 1px solid #ddd;
    }

    .dropdown-menu li:last-child    {
        border-bottom: none;

    }
}