.product-page {
  display: flex;
  align-items: flex-start;
  gap: 100px;
  padding: 50px;
  max-width: 1200px;
  margin: auto ;
  font-family: Arial, sans-serif;
}

/* Galeria de imagens */
.gallery {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.gallery .main-image {
  width: 100%;
  height: 350px;
  border-radius: 10px;
  object-fit: contain;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Detalhes do produto */
.detils {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.detils h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
}

.old-price {
  font-size: 16px;
  color: #888;
  text-decoration: line-through;
}

.price {
  font-size: 26px;
  font-weight: bold;
  color: #e65500;
}

.discount {
  font-size: 18px;
  font-weight: bold;
  color: #fff;
  background: #e65500;
  padding: 4px 8px;
  border-radius: 6px;
  width: fit-content;
}

.seller {
  font-size: 14px;
  color: #555;
}

/* Botões */
.buy-btn,
.cart-btn {
  padding: 12px 18px;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.buy-btn {
  background: #e65500;
  color: white;
  margin-bottom: 10px;
}

.buy-btn:hover {
  background: #cc4c00;
}

.cart-btn {
  background: #ffffff;
  color: #e65500;;
  border: 3px solid  #cc4c00;
  
}

.cart-btn:hover {
  background:whitesmoke;
}

/* Frete */
.frete {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.frete p {
  font-weight: bold;
}

.frete input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.frete button {
  padding: 10px 14px;
  background: #e65500;
  color: #fff;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.frete button:hover {
  background: #cc4c00;
}

.breadcrumb {
  font-size: 24px;
  color: #555;
  margin-bottom: 15px;

}

.breadcrumb a {
  color: #ff6600;
  text-decoration: none;
  font-weight: 500;
}

.breadcrumb a:hover {
  text-decoration: underline;

}

.breadcrumb :current {
  font-weight: bold;
  color: #000;
}
.image-gallery {
  display: flex;
  gap: 16px;
}

.thumbnails {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.thumb {
  width: 60px;
  height: 60px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  border-radius: 6px;
  transition: border 0.2s;
}

.thumb img {
  max-width: 100%;
  max-height: 100%;
}

.thumb.active {
  border: 2px solid orange;
}

.more {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #eee;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.main-image-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-image {
  max-width: 400px;
  max-height: 400px;
  object-fit: contain;
}