.login-container{ 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh ;
    background: #f5f5f5;
}

.login-box {
    display: flex;
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 800px;
    max-width: 90%;

}

.login-form{
    flex: 1;
    padding: 40px;
}

.login-form h2 {
    font-size: 22px;
    margin-bottom: 20px;
    color: #ff6600;

}

.login-form .highlight{
    color: #ff6600;
}

.login-form input{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;

}

.btn-login{
    width: 100%;
    padding: 12px;
    background: #ff6600;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 8px;
    
}

.btnlogin:hover {
    background: #e65500;
}

.forgot-password {
    font-size: 14px;
    margin-top: 10px;
}

.forgot-password a {
    color: #ff6600;
    text-decoration: none;
}


.divider {
    display: flex;
    align-items: center;
    margin: 20px 0;
    font-size: 14px;
    color: #666;
}

.divider::before,
.divider::after{
    content: "";
    flex: 1;
    height: 1px;
    background: #666;
    margin: 0 10px;

}

.social-login {
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.social-login button {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    background: white;
    font-size: 14px;
    font-weight: 500;
}

.google-btn {
    border-left: 3px solid red;
    margin-top: -20px;
    padding: 0;
}

.microsoft-btn {
    border-left: 5px solid red;
}

.terms {
    font-size: 12px;
    color: #777;
    margin-top: 20px;
}

.login-banner{
    flex: 1;
    background: #ff6600;

}
.banner-content {
  display: flex;
  margin-top: 11.4rem;
  margin-left: 7.9vh;
  flex-direction: column;  
  color: #000000;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.banner-content h2 {
  font-size: 28px;
  line-height: 1;
  margin-bottom: 3rem;
  margin-left: -10px;
}

.banner-content h2 span {
  font-weight: bold;
  color: #ffffff;
}

.btn-cadastrar {
  background-color: #fff;
  color: orange;
  border: none;
  padding: 12px 50px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 20px;
  width: auto;       /* botão fica só do tamanho do texto */
  align-self: flex-start; /* garante que não estique no flex */
}

.google-btn img{
    margin: none;
    width: 20px;
    height: 20px;
    margin-left: 65px;
    
}
.google-btn h3{
    margin-top: -20px;
}
.microsoft-btn img {
    margin: none;
    width: 20px;
    height: 20px;
    margin-left: 65px;
    
}
.microsoft-btn h3{
    margin-top: -20px;
}
